<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="source" value="server=(local);database=RE;uid=sa;pwd=sql2008" />-->
    <!--<add key="source" value="server=211.70.146.2;database=EngineERP;uid=dev;pwd=engine" />-->
		<add key="source" value="server=118.178.226.143;database=dev;uid=abap;pwd=engine1" />
    <add key="BusName" value="Common.Business"/>
    <add key="DalName" value="Common.DalFactory"/>
    <add key="ObjectFactory" value="CMFactory"/>
    <add key="BusPath" value="F:\ERP\Common.Business\ReadOnly"/>
    <add key="DalPath" value="F:\ERP\Common.DalFactory\ReadOnly"/>
  </appSettings>
</configuration>